<form method="POST">
  <input type="text" name="username" placeholder="Type your username" autofocus required />
  <input type="password" name="password" placeholder="Type your password" required />
  <input type="submit" value="Login" />
</form>
<a href="/about">About</a>